/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*Style*/
header{
    padding: 10px;
    width: 100%;
    height: 75px;
    background: #000000;

}

header *{
    display: inline-block;
}

header h3{
    padding-bottom: 4px;
}

header h3{
    background: linear-gradient(90deg, #0085FF 0%, #00F4C8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Antonio', sans-serif;
    user-select: none;
    font-style: normal;
    font-weight: bold;
    font-size: 4.6vw;
    line-height: 60px;
}

#settings{
    margin-bottom: 15px;
}

#logout{
    float: right;
    line-height: 40px;
}

.fa-edit, .fa-trash, .fa-window-close{
    cursor: pointer;
    margin: 15px 15px 0;
}

.fa-edit{
    color: #0085FF;
}

.fa-trash{
    position: absolute;
    right: 0;
    color: #ff1e25;
}

.fa-window-close{
    font-size: 22px;
    position: absolute;
    right: 0;
    color: #ff1e25;
}

.fa-plus{
    cursor: pointer;
    color: #999599;
    font-size: 150px;
}

.icon-fixed-width{
    margin: 30px 0 20px;
}

#addSensor .card-text, .card-title{
    text-align: center;
    cursor: pointer;
}

#addSensor .card-text{
    margin-bottom:0;
}

.card{
    display: inline-flex;
    width: 22rem;
    margin: 25px 15px;
    border: 2px solid rgba(0,0,0,.125);
}

.card-title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body button{
    display: block;
    margin: auto;
}

#container form{
    margin: 0 auto;
    width: 22rem;
}
.btn{
    font-size: 24px;
}
.mb-3 .btn{
    display: block;
    margin: 10px auto 0;
}

#container{
    width: 100%;
    display: inline-flex;
}
#sensors{
    overflow-x: scroll;
}
.gray{
    background-color: rgba(1, 1, 1, 0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
#popUp{
    width: 400px;
    height: 400px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #D8DBE2;
    text-align: center;
    border-radius: 10px;
    z-index: 150;
    display: none;
}

#popUpAddSensor{
    width: 400px;
    height: 480px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #D8DBE2;
    text-align: center;
    border-radius: 10px;
    z-index: 150;
    display: none;
}

#popUp h2{
    margin-top: 15px;
    font-style: normal;
    font-size: 28px;
    line-height: 40px;
    color: #212738;
}

#popUp img{
    margin: 10px auto;
}

#popUp-formBlock{
    text-align: center;
}

.form-group .form-control{
    width: 90%;
    margin: 15px auto;
}

@media (max-width: 1000px) {
    .card-title{
        font-size: 34px;
    }
    .card-text{
        white-space: nowrap;
        font-size: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn{
        font-size: 24px;
    }
    h3{
        font-size: 34px;
    }
    .form-label{
        font-size: 24px;
    }
    .form-control{
        font-size: 18px;
    }
    #container {
        /*width: 400px;*/
        display: inline-block;
    }
}
