/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*Style*/
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #00F4C8 50%, #0085FF 50%);
}

#container{
    width: 20%;
}

#container label, button{
    font-family: 'Antonio', sans-serif;
    font-weight: normal;

    color: #0f2f57;
}

